// Base color
$base:          #6777ef !default;
$grey:          #e3e1e1 !default;
$brown:         #adb5bd !default;

$blue:          #5e72e4 !default;
$indigo:        #5603ad !default;
$purple:        #8965e0 !default;
$pink:          #f3a4b5 !default;
$red:           #f5365c !default;
$orange:        #fb6340 !default;
$yellow:        #ffd600 !default;
$green:         #2dce89 !default;
$teal:          #11cdef !default;
$cyan:          #2bffc6 !default;

$white:         #fff !default;
$gray-100:      #f6f9fc !default;
$gray-200:      #e9ecef !default;
$gray-300:      #dee2e6 !default;
$gray-400:      #ced4da !default;
$gray-500:      #adb5bd !default;
$gray-600:      #8898aa !default;   // Line footer color
$gray-700:      #525f7f !default;   // Line p color
$gray-800:      #32325d !default;   // Line heading color
$gray-900:      #212529 !default;
$black:         #000 !default;

$default:       #172b4d !default;
$primary:       #5e72e4 !default;
$secondary:     #f4f5f7 !default;
$success:       $green !default;
$info:          $teal !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          $gray-900 !default;
$darker:        darken($gray-900, 15%) !default;

$facebook:      #3b5999 !default;
$twitter:       #1da1f2 !default;
$google-plus:   #dd4b39 !default;
$instagram:     #e4405f !default;
$pinterest:     #bd081c !default;
$youtube:       #cd201f !default;
$slack:         #3aaf85 !default;
$dribbble:      #ea4c89 !default;
$github:        #222222 !default;