// Variables
@import 'variables';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-custom {
    background-color: $base;
    color: $white;
    padding-left: 30px;
    padding-right: 30px;

    h4 {
        color: $white;
        margin-right: 10px;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
}

.navbar-white {
    li {
        a.nav-link {
            color: white;

            i {
                font-size: 20px !important;
            }
        }
    }
}

a.active {
    color: $base !important;
}

.sidebar {

    li {
        padding: 0.75rem;
        font-size: 15px;

        i {
            margin-right: 10px;
        }
    }

    .menu-header {
        display: block;
        font-size: 14px;
        font-weight: bold;
        font-family: nunito-bold, sans-serif;
        padding: 0.75rem 0rem !important;
    }

    .submenu {
        display: block;
        width: 100%;
        margin-bottom: 0;

        li {
            padding-left: 2.5rem;
            padding-top: 1rem;
            padding-bottom: 0;

            a {
                color: $gray-700;
                transition: 0.5s;

                &:hover {
                    color: $base;
                }
            }
        }
    }
}

.card-base {
    .card-header {
        background-color: $base;
        color: $white;
    }
}

.card-icon {
    .card-body {
        i.card-icon__icon {
            font-size: 32px;
            color: $base;
        }

        p.card-icon__text {
            font-size: 14px;
            margin-bottom: 0;
            margin-top: .5rem;
        }

        p.card-icon__number {
            font-size: 28px;
            color: $base;
            margin-bottom: 0;
        }
    }
}

.table {
    .thead-base {
        th {
            background: $base;
            color: $white;
        }
    }

    tbody {
        td {
            .non-caret::after {
                display: none;
            }
        }
    }
}

.img-round {
    border-radius: 100%;
}

.img-thumb {
    width: 30px;
    height: 30px;
}

.activities {
    display: flex;
    flex-wrap: wrap;

    .activity {
        width: 100%;
        display: flex;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            left: 25px;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: #6777ef;
        }

        &:last-child::before {
            display: none;
        }

        .shadow-primary {
            box-shadow: 0 2px 6px #acb5f6;
        }

        .activity-icon {
            width: 50px;
            height: 50px;
            border-radius: 3px;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            margin-right: 20px;
            border-radius: 50%;
            flex-shrink: 0;
            text-align: center;
            z-index: 1;

            i {
                margin-top: 15px;
            }
        }

        .activity-detail {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
            background-color: #fff;
            border-radius: 3px;
            border: none;
            position: relative;
            margin-bottom: 30px;
            position: relative;
            padding: 15px;

            p {
                font-size: 14px;
            }
        }
    }
}

