.has-error {
    border: 1px solid #fb6340;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-custom {
    background-color: #6777ef;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-custom h4 {
    color: #fff;
    margin-right: 10px;
}

.navbar-custom .navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar-white li a.nav-link {
    color: white;
}

.navbar-white li a.nav-link i {
    font-size: 20px !important;
}

a.active {
    color: #6777ef !important;
}

.sidebar li {
    padding: 0.75rem;
    font-size: 15px;
}

.sidebar li i {
    margin-right: 10px;
}

.sidebar .menu-header {
    display: block;
    font-size: 14px;
    font-weight: bold;
    font-family: nunito-bold, sans-serif;
    padding: 0.75rem 0rem !important;
}

.sidebar .submenu {
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.sidebar .submenu li {
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

.sidebar .submenu li a {
    color: #525f7f;
    transition: 0.5s;
}

.sidebar .submenu li a:hover {
    color: #6777ef;
}

.card-base .card-header {
    background-color: #6777ef;
    color: #fff;
}

.card-icon .card-body i.card-icon__icon {
    font-size: 32px;
    color: #6777ef;
}

.card-icon .card-body p.card-icon__text {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.card-icon .card-body p.card-icon__number {
    font-size: 28px;
    color: #6777ef;
    margin-bottom: 0;
}

.table .thead-base th {
    background: #6777ef;
    color: #fff;
}

.table tbody td .non-caret::after {
    display: none;
}

table.dataTable {
    border-collapse: collapse !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 20px;
}

.hide-sort:before,
.hide-sort:after {
    content: "" !important;
}

.page-item .page-link,
.page-item span {
    border-radius: 0 !important;
}

.page-item.active .page-link {
    background: #7C4DFF;
    color: #FFF;
    border-color: #DDD;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

ul.pagination li a,
ul.pagination li a:hover {
    color: #333;
}

.pagination>li>a {
    color: #000;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
}

.img-round {
    border-radius: 100%;
}

.img-thumb {
    width: 30px;
    height: 30px;
}

.activities {
    display: flex;
    flex-wrap: wrap;
}

.activities .activity {
    width: 100%;
    display: flex;
    position: relative;
}

.activities .activity::before {
    content: " ";
    position: absolute;
    left: 25px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #6777ef;
}

.activities .activity:last-child::before {
    display: none;
}

.activities .activity .shadow-primary {
    box-shadow: 0 2px 6px #acb5f6;
}

.activities .activity .activity-icon {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    text-align: center;
    z-index: 1;
}

.activities .activity .activity-icon i {
    margin-top: 15px;
}

.activities .activity .activity-detail {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    position: relative;
    padding: 15px;
}

.activities .activity .activity-detail p {
    font-size: 14px;
}
