/* For fonts */

@font-face {
    font-family: nunito-regular;
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: nunito-light;
    src: url(../fonts/Nunito/Nunito-Light.ttf);
}

@font-face {
    font-family: nunito-semibold;
    src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: nunito-bold;
    src: url(../fonts/Nunito/Nunito-Bold.ttf);
}

.bg-auth {
    height: 100vh;
    display: table;
    background-image: url('../img/undraw_deliveries_131a.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-theme {
    background-color: #6777EF;
    color: #FFFFFF;
}

.bg-gray {
    background-color: #E3E1E1;
}

.choose-photo {
    background-image: url(../img/camera.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    min-height: 200px;
}

.card-border-top {
    border-top: #6777EF 5px solid;
}

.content {
    display: table;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.form-control:focus {
    border: #6777EF 1.5px solid;
}

.full-height {
    height: 100vh;
}

.img-profile {
    height: 15vh;
    border-radius: 100%;
    position: relative;
    top: -80px;
    margin-bottom: -60px;
    cursor: pointer;
}

.modal-text {
    overflow-wrap: break-word;
}

.rounded-100 {
    border-radius: 100px;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}
